<h2>WebRotator angular</h2>

<nav>
  <ul>
    <li><a routerLink="basic">basic example</a></li>
    <li><a routerLink="dtxclinic">dtx clinic example</a></li>
    <li><a routerLink="dtxclinicmobile">dtx clinic mobile example</a></li>
    <li><a routerLink="dtxclinicdtectordevice">dtx clinic detector device example</a></li>
    <li><a routerLink="spotsaction">dtx clinic with spots action example</a></li>
    <li><a routerLink="whitebackbround">White background example</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>