/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 10;
  padding: 10;
}

#content {
  width: 70%;
  height: 70%;
  border: none;
}
